@{
    Layout = null;
}
<div id="expert" class="container tab-pane fade">
    <br>

    <div class="row expert">
        <div class="col col-12 col-md-6 col-sm-12 col-lg-4">
            ASP.Net Mvc
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 90%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">90%</div>
            </div>
        </div>

        <div class="col col-12 col-md-6 col-sm-12 col-lg-4">
            ASP.Net Core
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 85%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">85%</div>
            </div>
        </div>
        <div class="col col-12 col-md-6 col-sm-12 col-lg-4">
            ASP.Net Web API
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 85%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">85%</div>
            </div>
        </div>
        <div class="col col-12 col-md-6 col-sm-12 col-lg-4">
            SignalR
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 90%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">90%</div>
            </div>
        </div>

        <div class="col col-12 col-md-6 col-sm-12 col-lg-4">
            Blazor
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 90%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">90%</div>
            </div>
        </div>

        <div class="col col-12 col-md-6 col-sm-12 col-lg-4">
            T-SQL MS SQL Server
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 80%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">80%</div>
            </div>
        </div>
        <div class="col col-12 col-md-6 col-sm-12 col-lg-4">
            Design Patterns
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 70%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>
        </div>
        <div class="col col-12 col-md-6 col-sm-12 col-lg-4">
            SEO
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 70%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>
        </div>
        <div class="col col-12 col-md-6 col-sm-12 col-lg-4">
            Team working & Team managing
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 85%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">85%</div>
            </div>
        </div>
        <div class="col col-12 col-md-6 col-sm-12 col-lg-4">
            Bootstrap
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 80%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">80%</div>
            </div>
        </div>
    </div>
    <br />
    <br />

</div>
