@{
    ViewBag.Lang = "tr";
    ViewBag.Title = "Hossein Azami'nin kişisel sitesi";
    ViewBag.BodyClass = "";
}
@section Head{
    <meta name="description" content="Bu site Hossein Azami'nin yönetici, yönetim, eğitim geçmişi ve uzmanlıkları hakkında bilgi sağlar." />
    <meta name="keywords" content="Hossein Azami, İş Kayıtları, Hossein Azami'nin Özgeçmişi" />
    <link rel="canonical" href="https://azami.ir/tr" />
    <meta property="og:type" content="page" />
    <meta property="og:title" content="Hossein Azami'nin kişisel sitesi" />
    <meta property="og:image" content="https://azami.ir/img/me.jpg" />
    <meta property="og:description" content="Hossein Azami kişisel bilgiler ve özgeçmiş sitesi" />
    <meta property="og:url" content="https://azami.ir" />
    <meta property="og:site_name" content="Hossein Azami" />
}
@section footer{
    &copy; @DateTime.Now.Year - Tüm hakları <a href="https://azami.ir" title="Hossein Azami Andarabi"> Hossein Azami </a> için saklıdır.
}
<div class="row  margin-bottom">
    <div class="col col-lg-4 col-md-4 col-sm-12 col-sm-12 col-12 text-center">
        <div class="box-shadow">
            <div class="my-pic">
                <img src="/img/me.jpg" alt="Hossein Azami Andarabi" />
            </div>
            <div class="my-desc text-center">
                <h1>Hossein Azami</h1>
                <br />
                Web tabanlı proje üretimi alanında aktif
                <br />
                <a href="mailto:hossein@azami.ir"><li class="fas fa-envelope"></li> hossein@azami.ir</a>
                <br />
                <a href="tel:+905526278675" title="contact-me"><li class="fas fa-phone"></li> +90 552 627 8675</a>
            </div>
            <div class="btn-group social-btn">
                <a class="btn" target="_blank" href="https://www.linkedin.com/in/hossein-azami-7b90a3189/"><li class="fab fa-2x fa-linkedin"></li></a>
                <a class="btn" target="_blank" href="https://www.instagram.com/azami8920/"><li class="fab fa-2x fa-instagram"></li></a>
                <a class="btn" target="_blank" href="https://t.me/hosseinazami7"><li class="fab fa-2x fa-telegram"></li></a>
                <a class="btn" target="_blank" href="https://api.whatsapp.com/send?phone=905526278675"><li class="fab fa-2x fa-whatsapp"></li></a>
            </div>
        </div>
    </div>
    <div class="col col-lg-8 col-md-8 col-sm-12 col-12 my-desc">
        <strong>Merhaba</strong>
        <br />
        Ben Hossein Azami, 1983'te Tahran'da doğdum.
        <br />
        2001'de Meybod Azad Üniversitesi'nde bilgisayar bilimi ve donanım okudum. Haziran 2004'te Profesör Ali Tavari ile ASP.Net kursunu geçtim ve iş piyasasına girdim. 2020 başından beri İstanbul'da yaşıyorum ve web ve mobil yazılım alanında çalışıyorum.
        <p>
            2004'ten beri, öğrencilerime öğretmek için her zaman çalışmaya, kendimi güncellemeye ve projelerde ve sınıflarda modern teknolojileri kullanmaya çalışıyorum.
        </p>
        <p class="resume-dl">
            <a href="/Resume-Hossein-Azami.pdf" target="_blank" class="btn btn-outline-info"><i class="fas fa-download"></i> CV'yi indirin</a>
        </p>
    </div>
</div>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#resume">Kayıtlarım</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#expert">Uzmanlık</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#langs">Diller</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div id="resume" class="container tab-pane active">
        <br>
        <div class="resume-title">
            Lider Tüccarlar Şirketi (2004/9 - 2006/1) - Tahran
            <div>
                Orta Doğu'da İran ürünlerini satmak için Amazon ve Target mağaza sitesi şablonu - programcı rolünde
            </div>
        </div>
        <div class="resume-title">
            Isatis Bilgi Teknolojileri Şirketi (2006/2 - 2006/10) - Yazd
            <div>
                Yazd'daki Parnian Medresesi Akıllı Okul Projesi - programcı rolünde
            </div>
        </div>
        <div class="resume-title">
            Tadvin Farayand Şirketi (2007/1 - 2007/7) - Tahran
            <div>
                Tadvin finansal ve idari sistemler setinden satın alma sistemi ve satın alma takibi - programcı rolünde
            </div>
        </div>
        <div class="resume-title">
            İran Bilişim Geliştirme Şirketi (2007/7 - 2010/3) - Tahran
            <div>
                Tosee Sigorta şirketi için çevrimiçi düzenleme ve ödeme sisteminin uygulanması - Teknik yönetici ve kıdemli programcı rolünde
            </div>
        </div>
        <div class="resume-title">
            Tahran Belediyesi Bilgi ve İletişim Teknolojileri Organizasyonu (2008/1 - 2010/1) - Tahran
            <div>
                Tahran Belediyesi proje kontrol ve yönetim sisteminin uygulanması - programcı rolünde
            </div>
            <div>
                Tahran Belediyesi Kentsel Gelişim Projesi - programcı rolünde
            </div>
        </div>
        <div class="resume-title">
            Negin Media Mihan Şirketi (2008/3 - 2010/5) - Tahran
            <div>
                Günlük bülten üretim sisteminin üretimi - analist ve proje yöneticisi rolünde
            </div>
            <div>
                Cep telefonlarını tanıtmak için mobna.com sitesini uygulayın - programcı rolünde
            </div>
            <div>
                Tarama tabanlı haber arama motoru oluşturun - Analist, programcı ve proje yöneticisi rolünde
            </div>
        </div>
        <div class="resume-title">
            Pasargad Makine ve Ekipman Kiralama Şirketi (2010/3 - 2011/3)
            <div>
                Online kiralama ödeme sisteminin uygulanması - programcı rolünde
            </div>
        </div>
        <div class="resume-title">
            <a href="https://radyn.ir" target="_blank" title="Respina Radin Information Technology Company">Respina Radyn IT Co.</a> (2010/8 - 2019/12) - Tahran
            <div>
                <a href="https://contractsoft.ir" target="_blank" title=" Contract Management Software">Sözleşme yönetimi yazılımı</a>, ihaleler ve açık artırmalar, yükleniciler ve müşteriler - kıdemli proje yöneticisi rolünde
            </div>
            <div>
                <a href="https://ehamayesh.com" target="_blank" title="Conference Management Software">Konferans yönetim yazılımı</a>, seminerler ve konferanslar - kıdemli proje yöneticisi rolünde
            </div>
            <div>
                Müşteri İlişkileri Yönetimi (CRM) Yazılımı - kıdemli proje yöneticisi rolünde
            </div>
            <br />
            <br />
        </div>
    </div>
    <partial name="~/Views/Home/PVExperies.cshtml" />
    <div id="langs" class="container tab-pane fade">
        <br />
        <div class="row expert">
            <div class="col col-12 col-md-6 col-sm-12 col-lg-6">
                Farsça
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">100%</div>
                </div>
            </div>
            <div class="col col-12 col-md-6 col-sm-12 col-lg-6">
                ingilizce
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 65%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">65%</div>
                </div>
            </div>
            <div class="col col-12 col-md-6 col-sm-12 col-lg-6">
                Azari
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 85%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">85%</div>
                </div>
            </div>
            <div class="col col-12 col-md-6 col-sm-12 col-lg-6">
                Türkçe
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 70%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">70%</div>
                </div>
            </div>

        </div>
    </div>
</div>
