* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* Margin bottom by footer height */
    color: rgba(255,255,255,.55);
    background-color: rgb(38, 38, 45);
    margin-bottom: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 400px;
}

p {
    line-height: 25px;
}

h1 {
    font-weight: 500;
}

a {
    color: rgba(255,255,255,.85);
    text-decoration: none;
}

    a:hover {
        color: #ff9800;
        transition: all .5s;
        text-decoration: none;
    }

.orange {
    color: #ff9800;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,.35);
    border-radius: 6px;
}

.title {
    font-weight: 400;
    color: rgba(255,255,255,.85);
    font-size: 13px;
}

.radialProgressBar {
    border-radius: 50%;
    /*    -webkit-transform: translate(50%, 50%);
    transform: translate(50%, 50%);
*/ width: 92px;
    height: 92px;
    display: -webkit-box;
    display: -ms-flexbox;
    background: #45454d;
    /*    position: absolute;
        top: -50px;
        left: 34px;
    */
}

    .radialProgressBar .overlay {
        border-radius: 50%;
        width: 80px;
        height: 80px;
        margin: auto;
        background: #45454d;
        text-align: center;
        padding-top: 30%;
    }

.progress-0 {
    background-image: -webkit-linear-gradient(left, #3e4148 50%, transparent 50%), -webkit-linear-gradient(left, #ff9800 50%, #3e4148 50%);
    background-image: linear-gradient(90deg, #3e4148 50%, transparent 50%), linear-gradient(90deg, #ff9800 50%, #3e4148 50%);
}

.progress-10 {
    background-image: -webkit-linear-gradient(36deg, #3e4148 50%, transparent 50%), -webkit-linear-gradient(left, #ff9800 50%, #3e4148 50%);
    background-image: linear-gradient(54deg, #3e4148 50%, transparent 50%), linear-gradient(90deg, #ff9800 50%, #3e4148 50%);
}

.progress-20 {
    background-image: -webkit-linear-gradient(72deg, #3e4148 50%, transparent 50%), -webkit-linear-gradient(left, #ff9800 50%, #3e4148 50%);
    background-image: linear-gradient(18deg, #3e4148 50%, transparent 50%), linear-gradient(90deg, #ff9800 50%, #3e4148 50%);
}

.progress-30 {
    background-image: -webkit-linear-gradient(108deg, #3e4148 50%, transparent 50%), -webkit-linear-gradient(left, #ff9800 50%, #3e4148 50%);
    background-image: linear-gradient(-18deg, #3e4148 50%, transparent 50%), linear-gradient(90deg, #ff9800 50%, #3e4148 50%);
}

.progress-40 {
    background-image: -webkit-linear-gradient(144deg, #3e4148 50%, transparent 50%), -webkit-linear-gradient(left, #ff9800 50%, #3e4148 50%);
    background-image: linear-gradient(-54deg, #3e4148 50%, transparent 50%), linear-gradient(90deg, #ff9800 50%, #3e4148 50%);
}

.progress-50 {
    background-image: -webkit-linear-gradient(right, #3e4148 50%, transparent 50%), -webkit-linear-gradient(left, #ff9800 50%, #3e4148 50%);
    background-image: linear-gradient(-90deg, #3e4148 50%, transparent 50%), linear-gradient(90deg, #ff9800 50%, #3e4148 50%);
}

.progress-60 {
    background-image: -webkit-linear-gradient(left, #ff9800 50%, transparent 50%), -webkit-linear-gradient(36deg, #ff9800 50%, #3e4148 50%);
    background-image: linear-gradient(90deg, #ff9800 50%, transparent 50%), linear-gradient(54deg, #ff9800 50%, #3e4148 50%);
}

.progress-70 {
    background-image: -webkit-linear-gradient(left, #ff9800 50%, transparent 50%), -webkit-linear-gradient(72deg, #ff9800 50%, #3e4148 50%);
    background-image: linear-gradient(90deg, #ff9800 50%, transparent 50%), linear-gradient(18deg, #ff9800 50%, #3e4148 50%);
}

.progress-80 {
    background-image: -webkit-linear-gradient(left, #ff9800 50%, transparent 50%), -webkit-linear-gradient(108deg, #ff9800 50%, #3e4148 50%);
    background-image: linear-gradient(90deg, #ff9800 50%, transparent 50%), linear-gradient(-18deg, #ff9800 50%, #3e4148 50%);
}

.progress-90 {
    background-image: -webkit-linear-gradient(left, #ff9800 50%, transparent 50%), -webkit-linear-gradient(144deg, #ff9800 50%, #3e4148 50%);
    background-image: linear-gradient(90deg, #ff9800 50%, transparent 50%), linear-gradient(-54deg, #ff9800 50%, #3e4148 50%);
}

.progress-100 {
    background-image: -webkit-linear-gradient(left, #ff9800 50%, transparent 50%), -webkit-linear-gradient(right, #ff9800 50%, #3e4148 50%);
    background-image: linear-gradient(90deg, #ff9800 50%, transparent 50%), linear-gradient(-90deg, #ff9800 50%, #3e4148 50%);
}

.page-title {
    font-size: 18px;
    font-weight: 700;
    margin-left: 20px;
    height: 45px;
    margin-bottom: 40px;
}

    .page-title::after {
        content: '';
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        height: 1px;
        background: linear-gradient(to right,rgba(255,255,255,0.35),rgba(255,152,0,.0));
    }

    .page-title::before {
        content: '';
        height: 30px;
        width: 30px;
        position: absolute;
        top: 23px;
        left: 30px;
        border-radius: 50%;
        background: linear-gradient(135deg,rgba(255,152,0,.4) 0%,rgba(255,152,0,.01) 100%)
    }

div.desk-content span.title {
    font-size: 16px;
    line-height: 30px;
}

.s-container {
    width: 95%;
    flex-wrap: wrap;
    /*margin: 5vh 0;*/
    max-width: 1800px;
    margin: 5vh auto;
    max-height:1000px;
}

.header {
    position: relative;
    width: 50%;
    float: left;
    display: flex;
}

.box {
    background-color: #45454d;
    border-radius: 5px;
}

.menu {
    width: 80px;
    margin: 40px 20px 0px 0px;
    right: -10px;
    position: relative;
    float: left;
}

    .menu > ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
    }

    .menu ul li {
        text-align: center;
        padding: 10px 0px;
        position: relative;
        line-height: 25px;
    }

        .menu ul li a::before {
            content: '';
            height: 2px;
            width: 100%;
            left: 0;
            bottom: 0;
            position: absolute;
            background: radial-gradient(ellipse at top,rgba(197,202,213,.15) 0%,rgba(255,255,255,0) 70%);
        }

        .menu ul li:hover a {
            color: #ff9800;
            transition: all .5s;
            text-decoration: none;
        }

.profile-content {
    box-shadow: rgba(63, 63, 69, .3) -15px -15px, 13px 5px 22px rgba(30,30,30,.5);
    height: 90vh;
    flex-grow: 1;
    z-index: 1;
    min-height: 500px;
    max-height:600px;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 100%;
}

.profile-bg {
    background-image: url(/img/bg-1.jpg);
    background-size: contain;
    width: 100%;
    background-repeat: round;
    height: 45vh;
    border-radius: 6px;
    max-height:400px;
}

    .profile-bg:before {
        content: '';
        position: absolute;
        left: -27px;
        bottom: 108px;
        width: 80%;
        height: 33%;
        background: #45454d;
        transform: rotate(12deg);
        -webkit-transform: rotate(12deg);
        -moz-transform: rotate(12deg);
        -o-transform: rotate(12deg);
    }

    .profile-bg:after {
        content: '';
        position: absolute;
        right: -27px;
        bottom: 108px;
        width: 74%;
        height: 33%;
        background: #45454d;
        transform: rotate(-12deg);
        -webkit-transform: rotate(-12deg);
        -moz-transform: rotate(-12deg);
        -o-transform: rotate(-12deg);
    }

.my-pic {
    position: relative;
    top: -98px;
}

    .my-pic img {
        border-radius: 50%;
        border: 4px solid #45454d;
        box-shadow: -10px 9px 0px rgba(177, 100, 34, 0.50);
        width:148px;
    }

.my-title {
    position: relative;
    top: -65px;
}

.my-subtitle {
    position: relative;
    top: -65px;
    color: #ff9800;
}

.social-nw {
    position: relative;
    top: -45px;
}

    .social-nw a {
        padding: 0px 5px;
    }

.lnk {
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -20px;
    width: 100%;
}

    .lnk::before {
        content: '';
        position: absolute;
        height: 1px;
        background: radial-gradient(ellipse at top,rgba(197,202,213,.25) 0%,rgba(255,255,255,0) 70%);
        width: 100%;
        top: 0px;
        left: 0px;
    }

    .lnk div {
        width: 50%;
        text-align: center;
        align-self: flex-end;
    }

        .lnk div::after {
            content: '';
            position: absolute;
            height: 100%;
            background: radial-gradient(ellipse at top,rgba(197,202,213,.15) 0%,rgba(255,255,255,0) 70%);
            width: 1px;
            top: 0px;
            left: 50%;
        }

.desk-content {
    display: none;
    height: 82vh;
    border-radius: 0px 6px 6px 0px;
    position: relative;
    top: 4vh;
    width: 50%;
    float: right;
    overflow-y: scroll;
    padding: 20px;
    max-height:500px;
}


.skill-area {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill-item {
    width: 50%;
    text-align: center;
    margin-bottom: 50px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 120px;
}

.progress {
    width: 100%;
    text-align: center;
    position: absolute;
    top: -40px;
}

.skill-area-title {
    margin-bottom: 30px;
    width: 100%;
    position:relative;
}

    .skill-area-title::after {
        content: "";
        position: absolute;
        top: 26px;
        left: 0;
        height: 1px;
        width: 30%;
        background: linear-gradient(to right,rgba(197,202,213,.25) 0%,rgba(255,152,0,.01) 100%);
    }

.skill-txt {
    position: absolute;
    top: 104px;
}

.works {
    display: flex;
    flex-wrap: wrap;
}

.work-item {
    width: 50%;
    position: relative;
    margin-bottom: 40px;
    padding-right:8px;
}

.company {
    margin-bottom: 10px;
}

    .company::before {
        content: '';
        height: 15px;
        width: 25px;
        position: absolute;
        top: 4px;
        left: -10px;
        border-radius: 50%;
        background: linear-gradient(135deg,rgba(255,152,0,.4) 0%,rgba(255,152,0,.01) 100%);
    }

.work-l-d {
    margin: 10px 0px;
}

    .work-l-d span {
        font-size: 11px;
    }

.work-date {
    color: #ff9800;
    border: solid 1px #ff9800;
    padding: 1px;
}


.work-pos {
    margin-bottom: 20px;
}

.work-desk {
    font-size: 13px;
}

@media(min-width:1200px) {
}

@media (max-width:992px) {
    .desk-content {
    max-height:100%;
    }
        .header {
        position: relative;
        width: 100%;
        float: left;
        display: flex;
    }
    .menu {
    }
    .profile-bg {
        background-size: cover;
    }

    .desk-content {
        display: block;
        margin-bottom: 15px;
        border-radius: 6px;
        width: 100%;
        height: 100%;
    }

    .skill-area {
        width: 100%;
        position: relative;
    }
    .skill-area-title::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
        height: 1px;
        width: 30%;
        background: linear-gradient(to right,rgba(197,202,213,.25) 0%,rgba(255,152,0,.01) 100%);
    }

}

@media(max-width:768px) {
    .work-item {
        width: 100%;
    }

}
@media(max-width:576px) {
}
@media(max-width:575px) {
}